<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleProduct.css">
    <title>Lista de Productos</title>
</head>
<body>
    <header>
        <h1>Lista de Productos</h1>
    </header>
    <div class="container">
        {{#each products}}
        <div class="product">
            <img src="{{this.thumbnails}}" alt="{{this.title}}">
            <div>
                <h2>{{this.title}}</h2>
                <p>{{this.description}}</p>
                <p>Codigo: {{this.code}}</p>
                <p>Price: ${{this.price}}</p>
                <p>Stock: {{this.stock}}</p>
                <p>Categoria: {{this.category}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</body>
</html>
